@use "media" as m;
@use "palette" as p;
@use "sass:map";

// CSS classnames inspired by Bootstrap CSS framework.
.text {
	&-decoration-underline {
		text-decoration: underline;
	}

	&-center {
		text-align: center;
	}

	&-justify {
		text-align: justify;
	}

	&-start {
		text-align: left;
	}

	&-end {
		text-align: right;
	}

	&-lowercase {
		text-transform: lowercase;
	}

	&-uppercase {
		text-transform: uppercase;
	}

	&-capitalize {
		text-transform: capitalize;
	}

	&-primary {
		color: p.$primary;
	}

	&-secondary {
		color: p.$secondary;
	}

	&-tertiary {
		color: p.$tertiary;
	}

	&-wrap {
		white-space: normal;
	}

	&-nowrap {
		white-space: nowrap;
	}
}

.bg {
	&-primary {
		background-color: p.$primary;
	}

	&-secondary {
		background-color: p.$secondary;
	}

	&-tertiary {
		background-color: p.$tertiary;
	}
}

.fw {
	&-bold {
		font-weight: 700;
	}

	&-normal {
		font-weight: 400;
	}

	&-light {
		font-weight: 300;
	}
}

.fst {
	&-italic {
		font-style: italic;
	}

	&-normal {
		font-style: normal;
	}
}

.d {
	&-none {
		display: none;
	}

	&-block {
		display: block;
	}

	&-flex {
		display: flex;
	}

	&-inline {
		display: inline;
	}

	&-inline-block {
		display: inline-block;
	}
}

.w-maxcontent {
	width: max-content;
}

/*
Class names with `max-width` for every Bootstrap breakpoint (sm, md, ...),
such a class will behave like a fluid container.
*/
@each $breakname, $px in m.$container_max_widths {
	.max-#{$breakname}-fluid {
		max-width: $px;
	}
}

/* Non-fluid container classes with a maximum width: */

@media (min-width: map.get(m.$grid_breakpoints, 'sm')) {

	.max-sm,
	.max-md,
	.max-lg,
	.max-xl,
	.max-xxl {
		max-width: map.get(m.$container_max_widths, 'sm')
	}
}

@media (min-width: map.get(m.$grid_breakpoints, 'md')) {

	.max-md,
	.max-lg,
	.max-xl,
	.max-xxl {
		max-width: map.get(m.$container_max_widths, 'md')
	}
}

@media (min-width: map.get(m.$grid_breakpoints, 'lg')) {

	.max-lg,
	.max-xl,
	.max-xxl {
		max-width: map.get(m.$container_max_widths, 'lg')
	}
}

@media (min-width: map.get(m.$grid_breakpoints, 'xl')) {

	.max-xl,
	.max-xxl {
		max-width: map.get(m.$container_max_widths, 'xl')
	}
}

@media (min-width: map.get(m.$grid_breakpoints, 'xxl')) {
	.max-xxl {
		max-width: map.get(m.$container_max_widths, 'xxl')
	}
}

/* end: Non-fluid */

$_corners: (
	top-left,
	bottom-left,
	top-right,
	bottom-right
);
$border-radius: 5px;

// rounded corners (class `rounded-top-left` and other)
@each $c in $_corners {
	.rounded-#{$c} {
		border-#{$c}-radius: $border-radius;
	}
}
