@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/pt-sans-v17-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 400;
	src: url('../assets/fonts/pt-sans-v17-latin-italic.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/pt-sans-v17-latin-700.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 700;
	src: url('../assets/fonts/pt-sans-v17-latin-700italic.woff2') format('woff2');
}
