// Media-query helpers, inspired by Bootstrap CSS framework.

@use "sass:map";
@use "sass:color";

$grid_breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

$container_max_widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	//xl: 1140px,
	//xxl: 1320px
	xl: 1000px,
	xxl: 1140px
);

$xl_width: map.get($container_max_widths, 'xl');
$xxl_width: map.get($container_max_widths, 'xxl');

// Usage:
// @include min("md") { ...CSS... }
@mixin min($breakpoint_name) {
	@media screen and (min-width: map.get($grid_breakpoints, $breakpoint_name)) {
		@content;
	}
}

// Usage:
// @include max("lg") { ...CSS... }
@mixin max($breakpoint_name) {
	@media screen and (max-width: (map.get($grid_breakpoints, $breakpoint_name) - 1px)) {
		@content;
	}
}

// Usage:
// @include between("sm", "lg") { ...CSS... }
@mixin between($breakpoint_name_min, $breakpoint_name_max) {
	@media screen and (min-width: map.get($grid_breakpoints, $breakpoint_name_min)) and (max-width: (map.get($grid_breakpoints, $breakpoint_name_max) - 1px)) {
		@content;
	}
}

// Media-query for touchscreens
@mixin touchscreen() {
	@media (hover: none) and (pointer: coarse) {
		@content;
	}
}
