@use 'sass:color';

// Brand colors.
// Throughout your own Sass code prefer to use the ones from list below (*)
$brand-primary: #216778;
$brand-secondary: #a8a91b;
$brand-tertiary: #e55600;

$text-light: #eaf1f5;
$text-dark: #404040;

$link-light: steelblue;
$link-dark: #86e198;

// LIGHT/DARK THEME colors
$body-text: $text-dark;
$body-bg: #e4eaec;
$body-text-darkmode: $text-light;
$body-bg-darkmode: #6b8088;
$button-text: $text-dark;
$button-bg: #e4eaec;
$button-text-darkmode: $text-light;
$button-bg-darkmode: #48585f;

// (*) Reusable custom CSS variables,
// preferably use only these throughout your own Sass code.
// This has one advantage: you can change these 'var' colors later through
// JavaScript without losing interconnection with your final CSS code.
$primary: var(--color-primary);
$secondary: var(--color-secondary);
$tertiary: var(--color-tertiary);
$primary_rgb: var(--color-primary-rgb);
$secondary_rgb: var(--color-secondary-rgb);
$tertiary_rgb: var(--color-tertiary-rgb);

// Custom global vars.
:root {
	--color-primary: #{$brand-primary};
	--color-primary-rgb: #{color.red($brand-primary), color.green($brand-primary), color.blue($brand-primary)};
	--color-secondary: #{$brand-secondary};
	--color-secondary-rgb: #{color.red($brand-secondary), color.green($brand-secondary), color.blue($brand-secondary)};
	--color-tertiary: #{$brand-tertiary};
	--color-tertiary-rgb: #{color.red($brand-tertiary), color.green($brand-tertiary), color.blue($brand-tertiary)};
}
