@use "../palette" as p;
@use "../media";

:root {
	font-size: 17px;
	line-height: 1.4;
	color-scheme: light dark;
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
	/* size adjustments OFF on small screen */
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fira Mono', monospace;
	font-weight: 400;
	position: relative;
	margin: 0;
	padding: 0;
	color: p.$body-text;
	background-color: p.$body-bg;
	// light-dark support: FF 120, Chromium 123, Safari 17.5
	color: light-dark(p.$body-text, p.$body-text-darkmode);
	background-color: light-dark(p.$body-bg, p.$body-bg-darkmode);
}

.container {
	margin: auto;
	padding: 1rem;
	background-color: #fafafa;
	border: 1px solid p.$text-dark;
	background-color: light-dark(#fafafa, darkslategray);
	border-color: light-dark(p.$text-dark, p.$text-light);
}

a {
	color: p.$link-light;
	color: light-dark(p.$link-light, p.$link-dark);
}

.hint {
	position: relative;
	cursor: help;
	font-size: 0.7rem;
	border: 1px dotted white;
	border-radius: 20px;
	display: inline-block;
	width: 0.9rem;
	height: 1rem;
	text-align: center;
	vertical-align: top;

	span {
		display: none;
		width: 230px;
		padding: 5px 3px;
		border-radius: 5px;
		font-size: 0.7rem;
		position: absolute;
		top: 0;
		left: 40px;
		background-color: rgba(0, 0, 0, 0.3);
	}

	&:hover span {
		display: block;
	}
}

.force_lightmode {
	color-scheme: light;
}

.force_darkmode {
	color-scheme: dark;
}
